/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/Login/login.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.login_main__upsWZ{
    background-Color: #72b6a4; 
    min-Height: 100vh; 
    display: flex; 
    flex-Direction: column;
  }
  
  
  .login_header__q1vzD{
      display: flex;
      align-items: center;
      justify-content:space-between;
      min-height: 90px;
      padding: 5px 29px 1px 20px;
      background-color: white;
    }
    
    
    /*Icon*/
    .login_icon__mnL74{
     width: 65px; 
     height: 50px;
     margin-right: 20px;
     margin-left: 10px;
    }
    /*fim Icon*/
    
    .login_logo__wJLiM{
      width: 600px;
      display: flex;
      align-items: center;
    }
    
    /*txt*/
    
    .login_txtLog__yYBsG{
      font-weight: 800;
      font-size: 35px;
    }
  
    /* form */
  
    .login_form__EvtNV{
      flex: 1 1;
      display: flex; 
      justify-content: center; 
      align-items: center; 
    }

    .login_inp__e5u6u{
        margin: 10px;
        text-align: left;
        width: 572px;
        height: 40px;
        border-radius: 10px;
        border:none;
      }

        /* footer */

  .login_roda__AypWX{
    background-color:white;
    padding: 20px; 
    text-align: center; 
  }
