/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/CadastroCli/cadastro.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.cadastro_main__38Sdv{
  flex: 1 1;
}

.cadastro_header__c990F{
    display: flex;
    align-items: center;
    justify-content:space-between;
    min-height: 90px;
    padding: 5px 29px 1px 20px;
  }
  
  
  /*Icon*/
  .cadastro_icon__ptPle{
   width: 65px; 
   height: 50px;
   margin-right: 20px;
   margin-left: 10px;
  }
  /*fim Icon*/
  
  .cadastro_logo__4Tplo{
    width: 600px;
    display: flex;
    align-items: center;
  }
  
  /*txt*/
  
  .cadastro_txtLog__vVZD1{
    font-weight: 800;
   font-size: 35px;
  }

  /* Input */

  .cadastro_info__i5qZV{
    align-items: center;
  }
